.login-form {
  display: flex;
  height: 33vh;
  width: 33vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: smaller;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.6);
  color: rgba(5, 5, 5, 0.8);

}

.login_input {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(5, 5, 5, 0.6);
  background-color: #f5f5f5;
  width: 80%;
}

.login-button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(5, 5, 5, 0.6);
  background-color: #f8e9f2;
  width: 85%;
}

.login-button:hover {
  background-color: #f8e0ee;
}

.note {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  color: rgba(5, 5, 5, 0.8);
  font-size: 16px;
}

.to-register-button {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(5, 5, 5, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  width: 85%;
}

.to-register-button:hover {
  background-color: #f8e0ee;
}
